[submodule "gitty"]
	path = gitty
	url = https://github.com/abschill/gitty
[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/abschill/dotfiles
[submodule "emacs-config"]
	path = emacs-config
	url = https://github.com/abschill/emacs-config
